@model IEnumerable<CustomerManagementSystem.DB.User>

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<h3 class="mt-5">WELCOME</h3>
</body>
</html>
